<!-- FOOTER -->
<footer id="footer" class="p-0">
  <div class="container-fluid">
    <div class="row bg-blue text-gold text-center">
      <div class="col text-gold">
        <span>
          europa-connections &copy; {{getYear()}} |
          <a href="Impressum.php" class="text-gold">Impressum</a> |
          <a href="RODO.php" class="text-gold" title="Rozporządzenie Ogólne o Ochronie Danych Osobowych">Ochrona danych</a> |
          <a href="Zasady.php" class="text-gold" title="Zasady współpracy z europa-connections">Zasady współpracy</a>
        </span>
      </div>
    </div>
  </div>
</footer>
