<!--Contact-->
<div class="contact bg-light">
  <div class="container py-4">
    <div class="section-header">
      <h3>Contact Us</h3>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="map mb-4 mb-lg-0">
          <iframe src="https://maps.google.com/maps?q=europa-connections&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0; width: 100%; height: 450px;" allowfullscreen></iframe>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="row">
          <div class="col-sm-6">
            <p>
              <i class="fa fa-map-marker"></i>
              europa-connections<br>
              Unnauer Weg 7a<br>
              D-50767 Köln
            </p>
          </div>
          <div class="col-sm-6">
            <div><i class="fa fa-phone"></i> fon: <a href="tel:+492217894427">+49 221 789 44 27</a></div>
            <div><i class="fa fa-print"></i> fax: +49 221 789 44 28</div>
            <span class="visible-xs">
              <i class="fa fa-comment"></i> sms: <a href="sms:+492217894427"> <i class="icon-hand-right blink5x"></i> wyślij nam sms</a>
            </span>
          </div>
        </div>
        <!-- row -->
        <div class="row">
          <div class="col text-center">
            <div class="text-center"><i class="fa fa-envelope"></i> e-Mail: <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#110;&#102;&#111;&#64;&#101;&#117;&#114;&#111;&#112;&#97;&#45;&#99;&#111;&#110;&#110;&#101;&#99;&#116;&#105;&#111;&#110;&#115;&#46;&#101;&#117;">&#105;&#110;&#102;&#111;&#64;&#101;&#117;&#114;&#111;&#112;&#97;&#45;&#99;&#111;&#110;&#110;&#101;&#99;&#116;&#105;&#111;&#110;&#115;&#46;&#101;&#117;</a></div>
          </div>
        </div>
        <hr class="mb-4 mx-auto" />
        <div class="form">
          <form action="#" method="post" role="form" class="contactForm">
            <div class="form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
              <div class="validation"></div>
            </div>
            <div class="form-row">
              <div class="form-group col-lg-5">
                <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone number" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-lg-7">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center">
              <button class="btn btn-outline-secondary btn-rounded" type="submit" title="Send Message">Wyślij</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
